@tailwind base;
@tailwind components;
@tailwind utilities;

.widthCurriculum {
    width: 800px;
}

.my-link {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.my-link:hover {
    transform: scale(1.1);
}
